body{
    margin: 0;
    height: 400vh;
}

body._lock {
    overflow: hidden;
}

.welcome-section{
    background: url('/img/background.jpg') 0 0/cover no-repeat;
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.header__logo{
    margin-left: 5vw;
    margin-top: 5vw;
    width: 10vw;
    height: 10vw;
    z-index: 5;
}

.header__menu-button{
    margin-right: 5vw;
    margin-top: 7vw;
    width: 7vw;
    height: 7vw;
    cursor: pointer;
}

.header__menu-img{
    width: 5vw;
    height: 5vw;
}

.welcome-section__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

.welcome-section__title{
    font-family: Amatic SC;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20vw;
    margin-bottom: -4vw;
}

.welcome-section__subtitle{
    font-family: Roboto;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3vw;

}

.welcome-section__arrow{
    height: 5vw;
    border: 1px solid rgba(255, 255, 255, 0);
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: Transparent;
    margin-bottom: 3vh;

}

.welcome-section__line1{
    height: 5vw;
    width: 5vw;
    margin-right: -1vw;
}

.welcome-section__line2{
    height: 5vw;
    width: 5vw;
}

@media (max-width:70vh){
    .header__menu-button{
        z-index: 2;
        display: block;
        position: relative;
        margin-right: 5vw;
        margin-top: 7vw;
        width: 7vw;
        height: 7vw;
        border: 1px solid rgba(255, 255, 255, 0);
        text-align: center;
        outline: none;
        text-decoration: none;
        background-color: Transparent;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    .header__menu-button span,
    .header__menu-button::before,
    .header__menu-button::after {
        left:0;
        position:absolute;
        height: 10%;
        width: 90%;
        transition: all 0.3s ease 0s;
        background-color: white;
        z-index: 5;
    }

    .header__menu-button::before,
    .header__menu-button::after {
        content: "";
    }
    .header__menu-button::before{
        top:0;
        margin-top: 12%;
    }

    .header__menu-button::after{
        bottom: 0;
        margin-bottom: 12%;
    }
    .header__menu-button span{
        top: 50%;
        transform: scale(1) translate(0px,-50%);
    }

    .header__menu-button._active {
        background: none;
        transform: translate(0px,90vh) ;
    }

    .header__menu-button._active span{
        transform: scale(0) translate(0px,-50%);
    }

    .header__menu-button._active::before {
        top: 38%;
        left: 0%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .header__menu-button._active::after {
        bottom: 38%;
        transform: rotate(45deg) translate(0px, 50%);
        left: 0%;
    }

    .menu__body{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: -100%;
        left: 0%;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        transition: top 0.3s ease 0s;
        z-index: 1;
    }
    .menu__body._active{
        top: 0%;

    }
    /*.menu__body._active::before{
        z-index: 2;
        content: "";
        position: fixed;
        width: 100%;
        top:0;
        left: 0;
        height: 9%;
        background-color: rgba(0, 0, 0, 0.9);
    }*/

    .menu__list > li{
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 4vw;
        margin-top: 5vw;
    }
    .menu__link{
        font-family: Roboto;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none

    }
}